@import "./keyframes";
@import "./variables";
@import "./mixins";
* {
  @include reset();
}

body {
  background-image: url("../img/green_pink-bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: $primaryFonts;
}

nav {
  width: 100vw;
  height: 9vh;
  max-width: 1170px;
  margin: 0 auto;
  @include flexCenter(space-between);
  background: transparent;
  padding: 10px 10px;
  border-bottom: 2px solid $primaryColor;
}

.logo-container img {
  width: 50px;
}

.links-container {
  ul {
    display: flex;
    list-style: none;
    li button {
      display: block;
      background: transparent;
      margin: 0 1.5rem;
      border-radius: 0.45rem;
      letter-spacing: 0.15rem;
      padding: 0.3rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
      background-color: $primaryColor;
      font-family: $primaryFonts;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 91vh;
  width: 100vw;
}

.front-page {
  position: absolute;
  top: 20%;
  height: 50%;
  width: 50%;
  background: linear-gradient(
    45deg,
    rgba(94, 133, 151, 0.7),
    rgba(97, 96, 96, 0.7)
  );
  border-radius: 1rem;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.6);
  @include flexCenter(space-between);
  flex-direction: column;
  z-index: 1;
  h2 {
    margin-top: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  h4 {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  span {
    text-transform: uppercase;
  }
}

.front-btn {
  margin-bottom: 2rem;
  display: block;
  height: 2rem;
  font-size: 1.5rem;
  font-family: $primaryFonts;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  padding-bottom: 2.5rem;
  border-radius: 0.7rem;
  border: none;
  background-color: $primaryColor;
  color: white;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  margin-bottom: 3rem;
}

.btn {
  cursor: pointer;
  font-family: $primaryFonts;
  display: block;
  height: 2.5rem;
  width: auto;
  font-size: 1.1rem;
  margin: 0 0.4rem;
  border-radius: 0.7rem;
  background-color: $primaryColor;
  color: white;
  font-weight: 400;
  padding: 0 0.5rem;
}

#long-btn {
  width: 10rem;
  margin: 1rem;
}

.out {
  animation: out-top 0.5s ease-in;
}

.out-2 {
  animation: out-top 0.8s ease-in;
}

.added-text {
  text-align: center;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}

#margin-bottom {
  margin-bottom: 1rem;
}

.guidance-p-tag {
  text-align: center;
  font-size: 1.3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.p-container {
  margin: 0 3rem;
  text-align: center;
  font-size: 1.2rem;
}

.original {
  text-transform: capitalize;
}

.points-container {
  position: absolute;
  margin-bottom: 1rem;
  top: 22vh;
  font-size: 1.5rem;
}

.lang-container {
  position: absolute;
  top: 10vh;
  visibility: hidden;
  @include flexCenter(space-between);
}

.lang-container {
  img {
    height: 3rem;
    border-radius: 1rem;
    border: 0.5px solid black;
    box-shadow: 0 5px 5px rgba(94, 133, 151, 0.7);
    opacity: 0.9;
  }
  i {
    color: rgba(9, 52, 65, 0.897);
    margin: 0 1rem;
  }
}
.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 315px;
  width: 50vw;
  max-width: 400px;
  height: 40vh;
  max-height: 200px;
  background: linear-gradient(
    45deg,
    rgba(94, 133, 151, 0.7),
    rgba(97, 96, 96, 0.7)
  );
  border-radius: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
  user-select: none;
  visibility: hidden;
  .asking {
    position: absolute;
    top: 3rem;
    font-size: 1.5rem;
  }
  .answer {
    position: absolute;
    top: 5rem;
    font-size: 1.2rem;
  }
  .fadein {
    animation: fade-in 0.8s;
  }
  .shake {
    animation: shake 0.4s;
    font-weight: bold;
  }
}

.per {
  visibility: hidden;
}

.cont-fade-in {
  animation: fade-in 0.8s;
}

.flip {
  animation: flip 0.8s ease-in-out;
}

.container {
  position: absolute;
  bottom: 2rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 70%;
    border: none;
    border-bottom: 2px dotted rgb(255, 255, 255);
    outline: none;
    font-size: 1.2rem;
    background: transparent;
    font-weight: 500;
  }
  .good {
    color: rgb(20, 83, 20);
  }
  .bad {
    color: rgb(92, 22, 22);
  }
}

i {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.submit {
  padding-left: 0.5rem;
}

.right,
.left {
  position: absolute;
  top: 5rem;
}

.right {
  right: 1rem;
}

.left {
  left: 1rem;
}

.again-lang {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

.again-visible {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  min-width: 300px;
  height: auto;
  padding-bottom: 3rem;
  border-radius: 0.75rem;
  background-color: rgba(114, 135, 153, 0.9);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: visible;
}

#selectTarget,
#selectOriginal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#selectTarget {
  margin-right: 1rem;
}

.span {
  margin: 1rem 0;
  display: block;
  font-weight: 500;
}

.right-lang {
  margin-bottom: 0.8rem;
  cursor: pointer;
  font-family: $primaryFonts;
  display: block;
  border-radius: 0.7rem;
  background-color: $primaryColor;
  color: white;
  padding: 0.2rem 1rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.selected {
  background-color: rgba(4, 139, 250, 0.747);
}

#start {
  cursor: pointer;
  font-family: $primaryFonts;
  display: block;
  height: 2.5rem;
  width: 7rem;
  font-size: 1.1rem;
  margin: 0 1rem;
  border-radius: 0.7rem;
  background-color: rgba(92, 8, 92, 0.747);
  color: white;
  font-weight: 400;
}

.lang-align {
  @include flexCenter(space-evenly);
}

@media screen and (min-width: 350px) and (max-width: 850px) {
  body {
    background-image: url("../img/green_pink_small.svg");
    background-repeat: repeat-y;
  }
  .front-page {
    width: 70%;
    height: auto;
    top: 5vh;
  }
  .front-page h2,
  .front-page p {
    margin-bottom: 1rem;
  }
  .front-page h2,
  .front-btn {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .button-container button {
    margin: 0.3rem 0;
  }
  .front-page h3,
  .front-page h4 {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  body {
    background-image: url("../img/green_pink_small.svg");
  }
  .front-page {
    width: 70%;
    height: auto;
    top: 15vh;
  }
  .front-page h2,
  .front-page p {
    margin-bottom: 1rem;
  }
  .front-page h2,
  .front-btn {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .front-page h2,
  .front-btn {
    font-size: 1.2rem;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .button-container button {
    margin: 0.3rem 0;
  }
  .front-page h3,
  .front-page h4 {
    text-align: center;
  }
}
